.headerWelcome{
    float: right;
}
.taskTitle{
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
}
.dayTitle{
    font-weight: normal;
    font-size: 20px;
}
.taskDescription{
    font-size: 15px;
}
.scheduleTask{
    font-size: 15px;
}
.shown{
    display:block;
}
.hidden{
    display:none;
}
